/* GLOBAL */
section {
  padding: 70px 10%;
  font-family: Arial, Helvetica, sans-serif;
}

/* HERO */
.hero {
  height: 90vh;
  background: linear-gradient(to right, #f5f5f5, #eaeaea);
  display: flex;
  align-items: center;
}

.hero-content {
  max-width: 500px;
}

.hero-content h1 {
  font-size: 45px;
  color: #000;
}

.hero-content h2 {
  font-size: 50px;
  color: #ff3f6c;
}

.hero-content p {
  margin: 20px 0;
  color: #555;
}

.hero-content button {
  padding: 12px 30px;
  background: #ff3f6c;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* WHY SHOP */
.why-shop {
  text-align: center;
}

.why-shop h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.why-card {
  padding: 30px;
  background: #f9f9f9;
  border-radius: 10px;
}

/* ARRIVAL */
.arrival {
  background: #f1f1f1;
  text-align: center;
}

.arrival h2 {
  font-size: 36px;
}

.arrival button {
  margin-top: 15px;
  padding: 10px 25px;
  background: black;
  color: white;
  border: none;
}

/* PRODUCTS */
.products h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.product-card {
  background: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  border-radius: 8px;
}

.product-card h3 {
  margin: 10px 0;
}

.product-card button {
  margin-top: 10px;
  padding: 8px 20px;
  background: #ff3f6c;
  color: white;
  border: none;
  cursor: pointer;
}

/* SUBSCRIBE */
.subscribe {
  background: #000;
  color: white;
  text-align: center;
}

.subscribe-box {
  margin-top: 20px;
}

.subscribe-box input {
  padding: 10px;
  width: 250px;
  border: none;
}

.subscribe-box button {
  padding: 10px 20px;
  background: #ff3f6c;
  border: none;
  color: white;
}
