.navbar {
    width: 100%;
    background: #4b5775;
    padding: 14px 0;
    position: sticky;
    top: 0;
    height: 10vh;
    z-index: 9999;
}



.navbar-container {
    /* max-width: 1200px; */
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

/* Logo */
.logo a {
    /* background: white; */
    /* padding: 6px 12px; */
    /* border-radius: 8px; */
    /* display: flex; */
    /* align-items: center; */
}

.logo a img {
    height: 9vh;
    width: 207px;
    object-fit: cover;
    padding-top: 12px;
    padding-left: 8px;
    /* filter: drop-shadow(0 4px 6px); */
}

/* Menu */
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    font-weight: 500;
    font-size: 25px;
}

.nav-links li a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #ffffff;
}

/* Icons */
.nav-icons {
    display: flex;
    align-items: center;
    gap: 30px;
    color: #fff;
    font-size: 18px;
}

.icon {
    cursor: pointer;
    position: relative;
}

/* Cart badge */
.cart .badge {
    position: absolute;
    top: -6px;
    right: -8px;
    background: #ff3b3b;
    color: white;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 50%;
}