nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #1f2933;
}


/* Menu list */
nav ul {
  list-style: none;
  margin: 10px;
  padding: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}

/* Menu items */
nav ul li {
  font-size: 16px;
}

/* Links */
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

/* Hover effect */
nav ul li a:hover {
  background-color: #4f46e5;
}
